pkgbase = global
	pkgdesc = A source code tagging system that works the same way across diverse environments.
	pkgver = 6.6.4
	pkgrel = 1
	url = https://www.gnu.org/software/global/
	arch = any
	license = GPL
	depends = libtool
	depends = python
	optdepends = bash: globash support
	source = https://ftp.gnu.org/pub/gnu/global/global-6.6.4.tar.gz
	source = https://ftp.gnu.org/pub/gnu/global/global-6.6.4.tar.gz.sig
	validpgpkeys = 7DBA3739EB138CA75E6CA55E2AF9977BDA5E41B1
	md5sums = 7bad75f960e7971b0e4052b763361300
	md5sums = SKIP

pkgname = global

